.product-card {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    vertical-align: top;
    padding: 0px 5px 10px 5px;
    border: 1px solid #e8e8e8;
    box-sizing: border-box;
}

.product-title, .product-price {
    text-align: center;
}

.product-price {
    margin-bottom: 10px;
}

.product-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.product-buttons div {
    border-radius: 5px;
    height: 30px;
    line-height: 25px;
    text-align: center;
    vertical-align: middle;
    font-size: 25px;
}

.btn-subtract, .btn-plus {
    width: 25%;
}

.btn-subtract {
    border: 1px solid red;
    color: red;
    margin-right: 5px;
}

.btn-subtract:active {
    color:#ffffff;
    background-color: red;
}

.btn-plus {
    border: 1px solid green;
    color: green;
    height: 100%;
    margin-left: 5px;
}

.btn-plus:active {
    color:#ffffff;
    background-color: green;
}

.box-quantity {
    width: 75%;
    border: 1px solid #e8e8e8;
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 479px) {
    .product-card {        
        width: 48%;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    
    
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    
}