.filters {
    display: flex;
    flex-direction: column;
}

#category {
    width: 100%;
}

.item {
    margin-bottom: 15px;
}

.products-container {
    padding: 10px 10px 0 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.margin-15 {
    margin-right: 15px;
}